[submodule "front"]
	path = front
	url = https://github.com/letotor/05-22-RemFR-Lordofpings-p3-Lappsansnom-Front.git
[submodule "back"]
	path = back
	url = https://github.com/letotor/05-22-RemFR-Lordofpings-p3-Lappsansnom-Back.git
